{% extends 'admin/base.html.twig' %}

{% block title %}Gestion des commentaires {% endblock %}

{% block body %}

    <div class="container-fluid">
        <h2 class="my-5">Gestion des annonces</h2>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th> Id </th>
                    <th> Auteur </th>
                    <th> Date de création </th>
                    <th> Commentaire </th>
                    <th> Note </th>
                    <th> </th>
                </tr>
            </thead>
            <tbody>
                {% for comment in comments %}
                    <tr>
                        <td> {{ comment.id}} </td>
                        <td>
                            <img src="{{comment.author.picture}}"alt="Avatar de {{ comment.author.fullName }}" class="avatar avatar-micro mr-2">
                            {{ comment.author.fullName}} </td>
                        <td> {{ comment.createdAt | date('d/m/Y H:m')}} </td>
                        <td style="min-width:30px"> {{ comment.content}} </td>
                        <td> {{ comment.rating | number_format(2, ',',' ')}} </td>
                        <td>
                            <a href="{{ path('admin_comment_edit' , {'id' : comment.id }) }}" class="btn btn-primary"><i class="fas fa-edit"></i></a>
                            <a href="{{ path('admin_comment_delete' , {'id' : comment.id }) }}" class="btn btn-danger"><i class="fas fa-trash"></i></a>
                        </td>
                    </tr>
                {% endfor %}
            
            </tbody>
        
        </table>

    
    </div>

{% endblock %}
