{% extends "base.html.twig" %}

{% block title %}Bienvenue sur le meilleur réseau d'appartement{% endblock %}
{% block body %}
    <div class="container">
        <div class="jumbotron mt-3">
            <h1 class="display-3">Bienvenue sur SymBnb !</h1>
            <p class="lead">Nous mettons en relation les visiteurs et les voyageurs qui veulent profiter d'opportunités et gagner de l'argent en proposant leur bien en location !</p>
            <hr class="my-4">
            <p>Vous êtes voyageur et voulez vous voir ou vous voulez se loger pour vos prochains déplacement</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="#" role="button">Voir nos annonces</a>
            </p>
        </div>
        <h2 class="h1 my-5">Nos apparetements stars</h2>
-
        <div class="row">
            {% for data in ads %}
                {% include "ad/_ad.html.twig" with {'ad': data.annonce} %}
            {% endfor %}
        </div>

        <h2 class="h1 my-5">Nos propriétaires stars</h2>
        <div class="row">
        {% for data in users %}
            {% set user = data.user %}

            <div class="col-md-6">
                <div class="card border-secondary mb-3">
                    <div class="card-body">
                        <h4 class="card-title">{{ user.fullName }}</h4>

                        <hr>
                        <div class="card-text">
                            <img src="{{ user.picture }}" alt="Avatar de {{ user.fullName }}" class="float-left mr-3">
                            <p>{{ user.introduction | raw }}</p>
                            <a href="{{ path('user_show' , {'slug': user.slug }) }}" class="btn btn-success float-right">En savoir plus !</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
{% endblock %}